# Don't track content of these folders
# someOtherfoler/

# generated patterns
####################
*.badpat
*.rot
*.pat

# Compiled source #
###################
*.o

single/abm
single/abndm
single/ans
single/ans2
single/ans2b
single/ans2b-noif
single/ansb
single/asb
single/bsa
single/ef
single/efs
single/efs_long
single/naive
single/sa
single/tuabndm
single/tusa
single/twsa
single/byp/byps/byps
single/byp/bypsb/bypsb

multiple/bperl-mm-multi-nomod/mbyps
multiple/bperl-mm-multi-b/mbypsb
multiple/bperl-mm-multi/mbyps
multiple/byn-mod-hamming/byn
multiple/byn-original/byn
multiple/cmfn-dna/kstdlib/libkstdlib.a
multiple/cmfn-dna/lib/libkstdlib.a
multiple/cmfn/kstdlib/libkstdlib.a
multiple/cmfn/lib/libkstdlib.a
multiple/byn-mod-hamming/lsearch
multiple/byn-original/lsearch
multiple/cmfn-dna/cmfn
multiple/cmfn/cmfn
